<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <form method="POST" action="/register">
        <div>
            <label for="name">name1: </label>
            <input type="text" id="name1" name="name1" value="" />
        </div>
        <div>
            <label for="location">password: </label>
            <input type="text" id="password" name="password" value="" />
        </div>
        <div>
            <label for="name">name2: </label>
            <input type="text" id="name2" name="name2" value="" />
        </div>
        <div>
            <input type="submit" value="CREATE MY ACCOUNT" />
        </div>
    </form>
</body>

</html>