<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <form method="POST" action="/register">
        <div>
            <label for="username1">username1: </label>
            <input type="text" id="username1" name="username1" value="" />
        </div>
        <div>
            <label for="location">password: </label>
            <input type="password" id="password" name="password" value="" />
        </div>
        <div>
            <label for="username2">username2: </label>
            <input type="text" id="username2" name="username2" value="" />
        </div>
        <div>
            <input type="submit" value="CREATE MY ACCOUNT" />
        </div>
    </form>
</body>

</html>